<html>
<head>
    <meta charset="utf-8">
    <title>Add new Performer to Song</title>
    <style type = "text/css">
        body {
            width: 800px;
            margin: auto;
        }
        table {
            width:100%;
        }
        table, td, th {
            border: 1px solid black;
            padding:3px 2px;
        }
        section {
            float: left;
            margin: 0 1.5%;
            width: 63%;
        }
        aside {
            float: right;
            margin: 0 1.5%;
            width: 30%;
        }
    </style>
</head>
<body>
<div xmlns:th="http://www.thymeleaf.org">
<header>
    <h1>Select the Artist to add to the List of Performers </h1>
</header>
<th:block sec:authorize="hasRole('ROLE_ADMIN')">
<section>
    <form th:method="POST" th:action="@{/artists/add-artist}">

        <input type="hidden" name="songId" th:value="${song.id}">

        <h2>Select artist:</h2>
        <div th:each="artist : ${artists}">
            <input type="radio" name="artistId" th:value="${artist.id}"
                   th:text="|(${artist.firstName} ${artist.lastName}) ${artist.bio}|"> <br/>
        </div>
        <br/>
        <input type='submit' value='Add artist'>
    </form>
</section>
</th:block>
<aside>
    <th:block th:if="${song}">
        <table>
            <tr>
                <td><b th:text="${song.getTitle()}"></b></td>
                <td th:text="${song.trackId}"></td>
            </tr>
        </table>
    </th:block>
</aside>
</div>
</body>
</html>
